<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
      <div class="column is-5-tablet is-4-desktop is-3-widescreen">
        <div class="box">
             <div class="field has-text-centered">
              <%= image_tag '/logo-ludoteca-quadrada.png', width:"200" %>
            </div>
            
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          
              <div class="field">
               <div class="control">               
                 <%= f.input :email, required: false, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" }, placeholder: "seunome@ludoteca.com.br" %>
						  </div>
              </div>
          
              <div class="field">
                <div class="control">          
                  <%= f.input :password, required: false, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" }, placeholder: "******" %>
					    	</div>
              </div>

          <div class="field">
            <div class="control">
            <%= f.input :remember_me, wrapper: false, as: :boolean if devise_mapping.rememberable? %>
            </div>
          </div>

          <%= f.button :submit, "Log in", class:"button is-success is-medium" %>
        <% end %>
        <br/>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
  </div>
  </div>
</section>