<%= render 'navbar' %>
<%= render 'navbar_search_mobile' %>
<br />
 <% if @boardgames.blank? %>
      <h4>Não há jogos com o nome '<%= params[:boardgame] %>' no acervo.</h4>
 <% end %>

<section class="section">  
  <div class="columns is-multiline is-centered">    
    <% @boardgames.group_by(&:name).each do |name, games| %>
      <div class="column is-5-tablet is-4-desktop is-3-widescreen">
        <div class="box">
          <div class="media">
            
            <div class="media-left">
              <figure class="image image is-128x128">
                <% games.each_with_index do |game, i| %>
                  <% if i == 0 %>
                    <% if game.image.present? %>
                      <%= cl_image_tag(game.image, :width => 128, :height => 128, :crop => :fill) %>
                    <% else %>
                      <%= image_tag 'logo-ludoteca-quadrada.png' %>
                    <% end %>
                  <% end %>
                <% end %>
              </figure>
            </div>
            
            
            <div class="media-content">
            
            <strong><%= name %></strong><br />
              <%# sort by copys https://stackoverflow.com/a/6783390/3650719 %>
              <% games.sort {|a,b| a.copy <=> b.copy}.each do |game| %>
                <div class="field is-grouped">
                  <div class="control">
                    <div class="tags has-addons">
                      <span class="tag" >
                        <%= game.copy %>
                      </span>
                      <% if !game.category.rentable? %>
                        <span class="tag is-info">
                          <%= "Fixa" %>
                        </span>
                      <% elsif game.situation.name == "Disponível" %>
                        <span  class="tag is-success">
                          <%= game.situation.name %>
                        </span >
                      <% else %>
                        <span  class="tag is-light">
                          <%= game.situation.name %>
                        </span >
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            
          </div>
        </div>
      </div>
    <% end %>
    
    
    <% if @boardgames.blank? %>
      <h4>Não há jogos com o nome '<%= params[:boardgame] %>' no acervo.</h4>
    <% end %>
    
  </div>
</section>


